resource "azurerm_virtual_machine" "{{ hostname }}" {
  name                  = "{{ hostname }}"
  location              = "{{ location }}"
  resource_group_name   = "{{ resource_group_name }}"
  network_interface_ids = [azurerm_network_interface.{{ hostname }}_nic.id]
  vm_size               = "{{ vm_size }}"

  storage_image_reference {
    publisher = "{{ image_publisher }}"
    offer     = "{{ image_offer }}"
    sku       = "{{ image_sku }}"
    version   = "{{ image_version | default('latest') }}"
  }

  storage_os_disk {
    name              = "{{ hostname }}-osdisk"
    caching           = "ReadWrite"
    create_option     = "FromImage"
    managed_disk_type = "{{ managed_disk_type | default('Standard_LRS') }}"
  }

  os_profile {
    computer_name  = "{{ hostname }}"
    admin_username = "{{ admin_username }}"
    admin_password = "{{ admin_password }}"
  }

{% if os_type == "Windows" %}
  os_profile_windows_config {
    enable_automatic_upgrades = true
    provision_vm_agent        = true
  }
{% else %}
  os_profile_linux_config {
    disable_password_authentication = false
  }
{% endif %}

  tags = {
    environment = "{{ environment | default('production') }}"
    OS          = "{{ os_type }}"
  }
}
